{% load static %}
<html>
	<head>
			<link rel="stylesheet" type="text/css" href="{% static './css/post_job.css' %}">
		
			


	
			<header>
			<div>
				<ul class="nav">
				  <li><a class="nav_left" href="{% url 'registration:home' %}">Home</a></li>
				   <li><a class="nav_left"href="{% url 'registration:Search Job' %}">Search</a></li>
				  
				  
                    {% if flag == "on" %}
                        <li class="nav_right"><a href="">login</a>
                      <ul class="dropdown">
                      <li ><a href="{% url 'registration:login company' %}">Company</a></li>
                      <li ><a href="{% url 'registration:login User' %}"> Job seeker</a></li>

                      </ul>
                      <li class="nav_right"><a href="">Signup</a>
                      <ul class="dropdown">
                      <li><a href="{% url 'registration:registerCompany' %}">Company</a></li>
                      <li><a href="{% url 'registration:registerUser' %}">Job seeker</a></li>
                    {% endif %}
                    {% if flag == "off" %}
                        <li><a class="nav_left"href="{% url 'registration:Job Submit' %}">Post a job</a></li>
                        <li><a class="nav_left" href="{% url 'registration:profilecheck' %}">Profile</a></li>
                        <li><a class="nav_left" href="{% url 'registration:logout' %}">logout</a></li>

                    {% endif %}

                    
                  </ul>


				  </ul>
				  </li>
				  
				 
				</ul>
			</div>
			</header>
	</head>

	<body>
            {% if post == "on" %}
		

            <div class="companyform">
				<form method="post">
				 <h3>Post a job</h3>
					{% if messages %}
                         <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                         </ul>
                    {% endif %}
			        {% csrf_token %}
				    {{ form.as_p }}
			    <fieldset class="account-action">
				    <input class="btn" type="submit" name="submit" value="Submit">
			   
			    </fieldset>
			    </form>
				
			</div>
	    <div class="img">
           <img src="{% static './image/pic1.png' %}" height="50%" width="40%" >

	    </div>
	    <div class="content">
          <p class="post">It's always nice to hire the best talent available for the best efficiency and scribber offers you tha way to achieve the Same.<br>Post a job and hire the best one suited for the job,Posting the Job on Our site means that all our users can see the Job as well as they can apply for any job by searching according to the Genre and Pay fields.</p>

	    </div>
            {% else %}
              <h3>Please Login as a Company First </h3>
		    {% endif %}
		 

		 
		
 </body>
</html>
