 {% load static %}

<html>
	<head>
			<link rel="stylesheet" type="text/css" href="{%  static '../static/css/profile_company.css' %} ">
		
			


	
			<header>
			<div>
				<ul class="nav">
				<li><a class="nav_left" href="{% url 'registration:home' %}">Home</a></li>
				   <li><a class="nav_left" href="{% url 'registration:Search Job' %}">Search</a></li>
				  
				  
                    {% if flag == "on" %}
                        <li class="nav_right"><a href="">login</a>
                      <ul class="dropdown">
                      <li ><a href="{% url 'registration:login company' %}">Company</a></li>
                      <li ><a href="{% url 'registration:login User' %}"> Job seeker</a></li>

                      </ul>
                      <li class="nav_right"><a href="">Signup</a>
                      <ul class="dropdown">
                      <li><a href="{% url 'registration:registerCompany' %}">Company</a></li>
                      <li><a href="{% url 'registration:registerUser' %}">Job seeker</a></li>
                    {% endif %}
                    {% if flag == "off" %}
                      <li><a class="nav_left" href="{% url 'registration:Job Submit' %}">Post a job</a></li>
                        <li class="nav_right"><a href="{% url 'registration:logout' %}">logout</a></li>
                    {% endif %}
                    
                  </ul>
				   
              </ul>
			  
			  <div class="nav2">
	<p><a class="nav2_link" href="{% url 'registration:submittedapplication' %}">Submitted Applications</a></p>
                    <p><a  class="nav2_link" href="{% url 'registration:display' %}">View Jobs</a></p>
                    <p><a class="nav2_link" href="{% url 'registration:updatecompany' %}">Edit Profile</a></p>
					</div>
       

			</header>
	</head>
	<body >
	
			

		<div class="info">
		<div class="profile">
			<h3>Company Name : {{ user.user_name }}</h3>
            {% if messages %}
		                         <ul class="messages">
		                            {% for message in messages %}
		                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
		                            {% endfor %}
		                         </ul>
            {% endif %}
            <div class="personal">
            	<h3>Personal Details</h3>
                <p>First Name : {{ user.first_name }}<p>
                <p>Last Name : {{ user.last_name }}<p>
            </div>
            <div class="contact">
            	<h3>Contact Details</h3>
                <p>Email Id: {{ user.email_id }}<p>
                <p>Address : {{ user.address }}<p>
                <p>Contact Number : {{ user.contact_number }}<p>
            </div>
            <div class="official">
            	<h3>Official Details </h3>
                <p>Website Linked : <a href="{{user.website_linked }}" target="_blank">{{ user.website_linked }}</a></p>
                <p>User Introduction : {{ user.user_introduction|safe }}</p>
                
			</div>
			</div>
			</div>
				</div>
		<div class="right">
		<div class="img1">
			<img class="image1" src="{% static './image/add1.png' %}" >
		</div>
		<div class="img2">
			<img class="image1" src="{% static './image/add2.png' %}" >
		</div>
		<div class="img2">
			<img class="image1" src="{% static './image/add3.png' %}" >
		</div>
		</div>
	
           
         
		
	
		
 </body>
</html>
