	ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					background-color:black ;
					cursor: pointer;

				}

				li {
					float: left;
					font-size:152%;
					 z-index:1;
					margin:1% 2% 1% 2%;
				}



				li a {
					display: block;
					color:#A9A9A9;
					 z-index:1;

					text-decoration: none;
				}

				li a:hover:not(.active)
				{
					color:white;

				}

				
				
				li ul.dropdown
				{

				background-color: black;
				display: none;
				position: absolute;
				color: white;
				 font-family: verdana;
				 font-size:50%;
				width:8%;
				padding:1%;
				 
				 z-index:1;



				}


				li:hover ul.dropdown{
				background-color: black;
				display:block;
				z-index:50;
				color:#fff;
				}

				#signup
				{
					float:right;
					margin-right: 4%;

				}

				#login
				{
					float:right;
					margin-right: 2%;
					padding-right: 1%;
				}
			.company
			{   width:30%;
				margin-left:5%;
				margin-top:5%;
				float:right;
				clear:right;
				margin-bottom:5%;

			}

			.jobseeker
			{  width:30%;
				margin-top:5%;
				float:right;
				margin-right:5%;
				margin-bottom:5%;

			}

			form {
			  border: 1% solid #c6c7cc;
			  border-radius: 3%;
			  font-size:100%;
			  font-family: verdana;
			  overflow: hidden;
			  width: 95%;
			  float:left;
			  background-color:white;
			  padding: 2%;

			}
			form ul.messages
			{
				background-color: white;
				color: red;
				font-family: monospace;
				width: 50%;

			}
			fieldset {
			  border: 0;
			  margin: 0;
			  padding: 0;
			}
			input
			{
			  border-radius: 3%;
			  font-size: 100%;
			  font-family:verdana;
			  margin: 0;
			}

			.account-info
			{
			  padding: 5% 5% 0 5%;
			}
			.account-info label
			{
			  color: #395870;
			  display: block;
			  font-weight: bold;
			  margin-bottom: 5%;
			}
			.account-info input
			{
			  background: #fff;
			  border: 1% solid #c6c7cc;

			  color: #636466;
			  padding: 2%;
			  margin-top: 2%;
			  width: 100%;
			}
			.account-action {
			  background: #f0f0f2;
			  border-top: 1% solid #c6c7cc;
			  padding: 5%;
			}
			.account-action .btn {
			  background: linear-gradient(#49708f, #293f50);
			  border: 0;
			  color: #fff;
			  cursor: pointer;
			  font-weight: bold;
			  float: left;
			  padding: 2% 3%;
			}


			footer
			{   margin-top: 25%;
				 margin-right:0%;
				 width:100%;
				position:absolute;
				padding:2%;
				background-color: 	#808080;
				font-size:110%;
				
				
			}
			.companylogo
			{
				float:left;
				clear:right;
				padding-top:1%;
			}
			
			.manageby
			{   padding-left:1%;
				float:left;
				clear:right;
				padding-right:15%;
				 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
			.followus
			{
				float:right;
			    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			     padding-right:0%;
				 width:20%;
			}
			
			#link
			{
				height:5%;
				padding-right:2%;
				
			}
			
					
			#link:hover
			{
				height:6%;
				shadow:5% 5% 3% white;
			}
			
				body{
					margin:0;
					padding:0;
					background-color:#80CBC4;
				}
				




.companyform
{
    margin-top: 4%;
	float: right;
	margin-right: 1%;

}
.img 
{   
position: relative;
margin-left: 25%;
margin-top: 2%;
width: 55%;


	
}
.content .post
{   position: relative;
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	font-family: verdana;
	width: 55%;
	margin-left: 6%;


}
p
{

 text-align: center;
 font-size: 25px;
 font-family: monospace;

}