				@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';
				
				body{
					margin:0;
					    background-color:  #e1e3e4;
		
				}
				.nav {
					list-style-type: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					background-color:black ;
					cursor: pointer;

				}

				li {
					float: left;
					font-size:1em;
					 z-index:1;
					padding:1% 2% 1% 2%;
				}

				li:hover{
					background-color:grey;
				}
				li:active{
					background-color:red;
					
				}

				li a {
					display: block;
					color:#A9A9A9;
					 z-index:1;

					text-decoration: none;
				}

				li a:hover:not(.active)
				{
					color:white;
					

				}

				
				
				li ul.dropdown
				{

				background-color: black;
				display: none;
				position: absolute;
				color: white;
				 font-family: serif;
				 font-size:1em;
				width:auto;
				padding:1% 0% 1% 1%;
				margin-top:1%;
				 
				 z-index:1;
				 margin-left:-1%;
				



				}


				li:hover ul.dropdown{
				background-color: black;
				display:block;
				z-index:50;
				color:#fff;
						margin-top:1%;
						right:2px;
				}

				.nav_left
				{
					float:left;
					

				}

				.nav_right
				{
					float:right;
					padding:1%;
					
				}
			.company
			{   width:30%;
				margin-left:5%;
				margin-top:5%;
				float:right;
				clear:right;
				margin-bottom:5%;

			}

			.jobseeker
			{  width:30%;
				margin-top:5%;
				float:right;
				margin-right:5%;
				margin-bottom:5%;

			}

			form {
			  border: 1% solid #c6c7cc;
			  border-radius: 3%;
			  font-size:100%;
			  font-family: verdana;
			  overflow: hidden;
			  width: 54%;
			  float:left;
			  background-color:white;
			  padding:5% 15% 15% 15%;

			  margin-left:15%;

			}
			#id_pay
			{
				padding-right:20px;
				
			}
			form ul.messages
			{
				background-color: white;
				color: red;
				font-family: monospace;
				width: 50%;

			}
			fieldset {
			  border: 0;
			  margin: 0;
			  padding: 0;
			}
			input
			{
			  border-radius: 3%;
			  font-size: 100%;
			  font-family:verdana;
			  margin: 0;
			}

			.account-info
			{
			  padding: 5% 5% 0 5%;
			}
			.account-info label
			{
			  color: #395870;
			  display: block;
			  font-weight: bold;
			  margin-bottom: 5%;
			}
			.account-info input
			{
			  background: #fff;
			  border: 1% solid #c6c7cc;

			  color: #636466;
			  padding: 2%;
			  margin-top: 2%;
			  width: 100%;
			}
			.account-action {
			  background: #f0f0f2;
			  border-top: 1% solid #c6c7cc;
			  padding: 5%;
			}
			.account-action .btn {
			  background: linear-gradient(#49708f, #293f50);
			  border: 0;
			  color: #fff;
			  cursor: pointer;
			  font-weight: bold;
			  float: left;
			  padding: 2% 3%;
			}


		
			.companyform
			{
				margin-top: 4%;
				float: right;
				margin-right: 5%;

			}
			.img 
			{   
			position: relative;
			margin-left: 20%;
			margin-top: 2%;
			width: 55%;


				
			}
			.content .post
			{   position: relative;
				text-align: center;
				font-size: 1.5em;
				
				font-family: verdana;
				width: 55%;
				margin-left: 4%;
			}
