		body{
			margin:0px;
			overflow-x:hidden;
			padding:0;
			background-color:#e1e3e4;
			}
				


			.nav {
					list-style-type: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					background-color:black ;
					cursor: pointer;

				}

				li {
					float: left;
					font-size:1em;
					 z-index:1;
					padding:1% 2% 1% 2%;
				}

				li:hover
				{
					background-color:grey;
				}
				li:active
				{
					background-color:red;
					
				}

				li a {
					display: block;
					color:#A9A9A9;
					z-index:1;
					text-decoration: none;
				}

				li a:hover:not(.active)
				{
					color:white;
					

				}

				li ul.dropdown
				{
				list-style-type: none;
				background-color: black;
				display: none;
				position: absolute;
				color: white;
				font-family: serif;
				font-size:1em;
				width:auto;
				padding:1% 0% 1% 1%;
				margin-top:1%;
				z-index:1;
				 margin-left:-1%;
				}


				li:hover ul.dropdown{
				background-color: black;
				display:block;
				z-index:50;
				color:#fff;
				margin-top:1%;
				right:2px;
				}

				.nav_left
				{
					float:left;
				}

				.nav_right
				{
					float:right;
					padding:1%;
					
				}
				
							
					#img1
					{   background-size: cover;
						width:85%;
						height:90%;
						padding:3% 5% 2% 13%;
						
					}
					
					.image
					{	
						float:left;
						clear:right;
						
					}

					
					form {
					  border: 1% solid #c6c7cc;
					  border-radius: 3%;
					  font-size:100%;
					  font-family: verdana;
					  overflow: hidden;
					  width: 20%;
					  float:right;
					  background-color:white;
					  padding-left: 2%;
					  margin-top:2%;
					  margin-right:10%;
					  
					  

					}
					form ul.messages li
					{
					background-color: white;
					color: red;
					font-family: monospace;
					width: 80%;

					}
					fieldset {
					  border: 0;
					  margin: 0;
					  padding: 0;
					}
					input {
					  border-radius: 3%;
					  font-size: 100%;
					  font-family:verdana;
					  margin: 0;
					}
					.account-info {
					  padding: 5% 5% 0 5%;
					}
					.account-info label {
					  color: #395870;
					  display: block;
					  font-weight: bold;
					  margin-bottom: 5%;
					}
					.account-info input {
					  background: #fff;
					  border: 1% solid #c6c7cc;
					   
					  color: #636466;
					  padding: 2%;
					  margin-top: 2%;
					  width: 100%;
					}
					.account-action {
					  background: #f0f0f2;
					  border-top: 1% solid #c6c7cc;
					  padding: 5%;
					  margin-left: -17%;

					}
					.account-action .btn {
					  background: linear-gradient(#49708f, #293f50);
					  border: 0;
					  color: #fff;
					  cursor: pointer;
					  font-weight: bold;
					  float: right;
					  padding: 2% 3% 2% 8%;
					  border-radius:8%;
					
					}
					
		
			
					@media only screen and (max-width: 600px)
					{
						img
						{
							visibility:hidden;
						}
						form
						{
							width:100%;
						}
					}


						


